{% extends 'account/main.html' %} {% load static %} {% block content %}
<style>
  .main {
    border-radius: 25px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    align-items: center;
    width: 35cm;
    height: 5cm;
    margin-top: 1.3cm;
    margin-left: 2.8cm;
    padding-bottom: 3.5em;
  }
  h3 {
    padding-top: 40px;
    margin-left: 50px;
  }
  p {
    margin-left: 50px;
  }
  a {
    font-family: sans-serif;
    display: block;
    color: white;
    text-decoration: none;
    position: relative;
    list-style: none;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;
    /* margin: 2px; */
    padding: 4px;
    width: 45px;
  }
  a::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: 0.2s;
    border-radius: 25px;
    color: black;
  }
  a:hover {
    color: black;
  }
  a:hover::before {
    background: linear-gradient(to bottom, #e8edec, #d2d1d3);
    box-shadow: 0px 3px 20px 0px black;
    transform: scale(1.2);
  }
</style>
<div class="main">
  <h3>Password Changed!!</h3>
  <br />
  <p>Your passwod has been changed.</p>
  <p><a href="{% url 'account:home' %}">Home</a></p>
</div>

{% endblock %}
