{% extends 'account/main.html' %} {% load static %} {% block content %}
<style>
  .main {
    border-radius: 25px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    align-items: center;
    width: 35cm;
    height: 6cm;
    margin-top: 1.3cm;
    margin-left: 2.8cm;
    padding-bottom: 3.5em;
  }
  h3 {
    padding-top: 40px;
    margin-left: 50px;
  }
  p {
    margin-left: 50px;
  }
</style>
<div class="main">
  <h3>Password reset sent</h3>
  <br />
  <p>
    We’ve emailed you instructions for setting your password, if an account
    exists with the email you entered. You should receive them shortly.
  </p>
  <p>
    If you don’t receive an email, please make sure you’ve entered the address
    you registered with, and check your spam folder.
  </p>
</div>
{% endblock %}
