{% extends 'account/main.html' %} {% load static %} {% block content %}

<style type="text/css">
  .main {
    border-radius: 25px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    /* display: inline-flex; */
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    align-items: center;
    /* padding: 2.4cm 5.5cm; */
    width: 12cm;
    height: 13.5cm;
    margin-top: 1.3cm;
    margin-left: 14.5cm;
    padding-bottom: 3.5em;
  }
  .main label {
    text-align: center;
    font-family: candara;
    font-size: 22px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 9px 10px 9px;
    margin: 1px 10px 1px 20px;
  }
  .main input {
    border-radius: 25px;
    width: 250px;
    height: 40px;
    font-size: medium;
    color: black;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    margin-left: 93px;
    margin-bottom: 10px;
  }
  .text {
    margin-left: 90px;
    padding-top: 25px;
  }
  button {
    border: none;
    padding: 1em;
    outline: none;
    color: black;
    text-transform: uppercase;
    font-weight: 900;
    font-style: 1.2em;
    letter-spacing: 0.2em;
    position: relative;
    z-index: 1;
    cursor: pointer;
    background: none;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
    margin-left: 123px;
    margin-top: 30px;
  }
  button:before,
  button:after {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10em;
    transform: translateX(-50%) translateY(-50%);
    width: 105%;
    height: 105%;
    content: "";
    z-index: -2;
    background-size: 400% 400%;
    background: white;
  }
  button:before {
    filter: blur(10px);
    transition: all 0.25s ease;
    -webkit-animation: pulse 10s infinite ease;
    animation: pulse 10s infinite ease;
  }
  button:after {
    filter: blur(0.3px);
  }
  button:hover:before {
    width: 115%;
    height: 115%;
  }
</style>

<div class="main">
  <div class="text">
    <h1>Password Change</h1>
  </div>
  <form method="POST">
    {% csrf_token %}
    <label for="old_password">Old Password</label>
    <input
      type="password"
      name="old_password"
      id="old_password"
      placeholder="Old Password..."
      required="True"
    />
    <label for="new_password1">New Password</label>
    <input
      type="password"
      name="new_password1"
      id="new_password1"
      placeholder="New Password..."
      required="True"
    />
    <label for="new_password2">Confirm New Password</label>
    <input
      type="password"
      name="new_password2"
      id="new_password2"
      placeholder="Confirm New Password..."
      required="True"
    />
    {% for field in form %} {% for error in field.errors %}
    <p>{{error}}</p>
    {% endfor %} {% endfor %}
    <button>Update Password</button>
  </form>
</div>

{% endblock %}
