{% extends 'account/main.html' %} 
{% load static %} 
{% block content %}

<style type="text/css">
  .home{
    border-radius: 25px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    /* display: inline-flex; */
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    align-items: center;
    /* padding: 2.4cm 5.5cm; */
    width: 35cm;
    height: 13cm;
    margin-top: 1.3cm;
    margin-left: 2.8cm;
    padding-bottom: 3.5em;
  }
</style>

<div class="home">
  <form onsubmit="return executeQuery();">
    <input
      type="text"
      class="form-control"
      name="q"
      id="id_q_large"
      placeholder="Search..."
    />
  </form>
  <table border="1">
    <tr>
      <th>No.</th>
      <th>Question</th>
      <th>Likes</th>
    </tr>
    {% for q in question %}
    <tr>
      <td>{{q.id}}</td>
      <td>
        <a href="{% url 'question:question' question_id=q.id %}"
          >{{q.question}}</a
        >
      </td>
      <td>{{q.like.all.count}}</td>
    </tr>
    {% endfor %}
  </table>
  {% if question.has_other_pages %}
  <ul class="pagination">
    {% if question.has_previous %}
      <li><a href="?page={{ question.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in question.paginator.page_range %}
      {% if question.number == i %}
        <li class="active"><span>{{ i }} </span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if question.has_next %}
      <li><a href="?page={{ question.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</div>
<script type="text/javascript">
  function executeQuery() {
    var query = "";
    query = document.getElementById("id_q_large").value;
    window.location.replace("{% url 'question:search' %}?q=" + query);
    return false;
  }
</script>

{% endblock %}