{% extends 'account/main.html' %} 
{% load static %} 
{% block content %}

<style type="text/css">
	.remove{
    border-radius: 25px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    /* display: inline-flex; */
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    align-items: center;
    /* padding: 2.4cm 5.5cm; */
    width: 35cm;
    height: 13cm;
    margin-top: 1.3cm;
    margin-left: 2.8cm;
    padding-bottom: 3.5em;
  }
</style>

<div class="remove">
	<form
	  action="{% url 'question:remove_question' question_id=question.id %}"
	  method="POST"
	>
	  {% csrf_token %}
	  <a href="{% url 'account:home' %}">Cancel</a>
	  <button type="submit">Yes</button>
	</form>
</div>
{% endblock %}