{% extends 'account/main.html' %} {% load static %} {% block content %}
<style type="text/css">
  .row {
    display: table;
  }
  .column1 {
    float: left;
  }
  .column2 {
    float: right;
    padding-left: 60px;
  }

  .edit {
    text-align: center;
    border-radius: 25px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    /*display: inline-flex; */
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    align-items: center;
    padding: 0.5cm 0cm 1.8cm 0.9cm;
    width: 19cm;
    height: 11cm;
    margin-top: 2cm;
    margin-left: 10.5cm;
    padding-bottom: 3.5em;
    justify-content: center;
  }
  h1 {
    font-family: candara;
    font-style: normal;
    margin: 10px 50px 10px 10px;
  }
  .edit label {
    text-align: center;
    font-family: candara;
    font-size: 22px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 9px 20px 9px;
    margin: 1px 10px 1px 0px;
  }
  .edit input {
    border-radius: 25px;
    width: 250px;
    height: 40px;
    font-size: medium;
    color: black;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    /* margin-left: 115px; */
  }
  .upload::before {
    content: "Select some files";
    text-decoration: none;
    display: none;
    display: block;
    overflow: hidden;
    outline: none;
    border: none;
    /* -webkit-user-select: none; */
  }

  #img1 {
    width: 190px;
    height: 190px;
    margin-left: 0px;
    border-radius: 50%;
  }
  button {
    font-family: sans-serif;
    font-weight: bold;
    font-size: medium;
    border: none;
    padding: 1em;
    outline: none;
    color: black;
    text-transform: uppercase;
    font-weight: 900;
    font-style: 1.2em;
    letter-spacing: 0.2em;
    position: relative;
    z-index: 1;
    cursor: pointer;
    background: none;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
    margin-left: 295px;
    /* margin-top: 1px; */
  }
  button:before,
  button:after {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10em;
    transform: translateX(-50%) translateY(-50%);
    width: 105%;
    height: 105%;
    content: "";
    z-index: -2;
    background-size: 400% 400%;
    background: white;
  }
  button:before {
    filter: blur(10px);
    transition: all 0.25s ease;
    -webkit-animation: pulse 10s infinite ease;
    animation: pulse 10s infinite ease;
  }
  button:after {
    filter: blur(0.3px);
  }
  button:hover:before {
    width: 115%;
    height: 115%;
  }
  .container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    margin-top: 30px;
    margin-left: 80px;
    background-color: #eee;
  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196f3;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
</style>
<div class="edit">
  <h1>Edit Profile</h1>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
      <div class="column1">
        <div class="card card-md">
          <label for="image">Image</label>
          <img class="image" id="img1" src="{{profile_image.url}}" />
          <input
            class="upload"
            id="upload"
            type="file"
            name="profile_image"
            style="visibility: hidden"
          />
          <label for="upload">Select File..</label>
        </div>
      </div>
      <div class="column2">
        <div class="card card-md">
          <label for="username">Username</label>
          <input
            type="text"
            name="username"
            id="username"
            placeholder="Username..."
            value="{{form.initial.username}}"
            autofocus
          />
          <label for="email">email</label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Email..."
            value="{{form.initial.email}}"
          />
          <label class="container" style="padding-left: 50px; padding-top: 30px"
            >Hide-Email
            <input type="checkbox" checked="checked" />
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column column-2">
        <div class="crad card-md">
          {% for field in form %} {% for error in field.errors %}
          <p>{{error}}</p>
          {% endfor %} {% endfor %} {% if form.non_field_errors %}
          <p>{{form.non_field.errors}}</p>
          {% endif %}
          <button type="submit">Save</button>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
